
{% extends "layout.html" %}

{% block body %}

<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 12 Biology</h2>
			  
		   </div>
	   </div>
	   
       <table class="table  table-striped table-hover">
         <tr><td><h5>Chapter 1 - Reproduction in Organism</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Sexual Reproduction in Flowering Plant</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Human Reproduction</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - Reproductive Health</h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Principle of Inheritance and Variant</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Molecular Basis of Inheritance</h5></td>
         </tr>
		 <tr><td><h5>Chapter 7 - Evolution</h5></td>
         </tr>
		 <tr><td><h5>Chapter 8 - Human Health and Diseases</h5></td>
         </tr>
		 <tr><td><h5>Chapter 9 - Strategies for Enhancement in Food Production</h5></td>
         </tr>
		 <tr><td><h5>Chapter 10 - Microbes in Human Welfare</h5></td>
         </tr>
		 <tr><td><h5>Chapter 11 - Biotechnology : Principles and Processes</h5></td>
         </tr>
		 <tr><td><h5>Chapter 12 - Biotechnology and Its Applications</h5></td>
         </tr>
		 <tr><td><h5>Chapter 13 - Organisms and Populations</h5></td>
         </tr>
		 <tr><td><h5>Chapter 14 - Ecosystem</h5></td>
         </tr>
		 <tr><td><h5>Chapter 15 - Biodiversity and Conservation</h5></td>
         </tr>
		 <tr><td><h5>Chapter 16 - Enviromental Issues</h5></td>
         </tr>
        </table>   
  </section>
 
{% endblock %}