
{% extends "layout.html" %}

{% block body %}

   
	<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 12 Economics</h2>
			  
		   </div>
	   </div>
	   
       <table class="table  table-striped table-hover">
         <tr><td><h5>Chapter 1 - National Income and Related Aggregates	</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Money and Banking</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Determination of Income and Employment</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - Government Budget and the Economy </h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Balance of Payments </h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Indian Economic Development	</h5></td>
         </tr>
		 <tr><td><h5>Chapter 7 - Development Experience (1947-90) and Economic Reforms since 1991 </h5></td>
         </tr>
		 <tr><td><h5>Chapter 8 - Current Challenges facing Indian Economy</h5></td>
         </tr>
		 <tr><td><h5>Chapter 9 - Development Experience of India – A Comparison with Neighbours </h5></td>
         </tr>
	
        </table>   
  </section>
 {% endblock %}