
{% extends "layout.html" %}

{% block body %}

	<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 12 English</h2>
			  
		   </div>
	   </div>
	   
       <table class="table  table-striped table-hover">
	   <tr><td class="text-center"><h3>Prose</h3></td></tr>
         <tr><td><h5>Chapter 1 - The Last Lesson</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Lost Spring</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Deep Water</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - The Rattrap </h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Indigo</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Poets and Pancakes</h5></td>
         </tr>
		 <tr><td><h5>Chapter 7 - The Interview</h5></td>
         </tr>
		 <tr><td><h5>Chapter 8 - Going Places</h5></td>
         </tr>
		 </table>
		 <br><br>
		 <table class="table  table-striped table-hover " >
		 <tr ><td class="text-center"><h3>Poem</h3></td></tr>
		 <tr><td><h5>Chapter 1 - My Mother at Sixty-six</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - An Elementary School Classroom in a Slum</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Keeping Quiet</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - A Thing of Beauty</h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - A Roadside Stand</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Aunt Jennifer’s Tigers</h5></td>
         </tr>
		
		 
        </table>   
  </section>
 {% endblock %}