{% extends "layout.html" %}

{% block body %}

   
	<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 10 English</h2>
			  
		   </div>
	   </div>
	   
       <table class="table  table-striped table-hover">
	   <tr><td class="text-center"><h3>Prose</h3></td></tr>
         <tr><td><h5>Chapter 1 - Two Gentlemen of Verona</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Mrs Packletide’s Tiger</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - The Letter</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - A Shady Plot </h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Patol Babu, Film Star</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Virtually True</h5></td>
         </tr>
		 
		 </table>
		 <br><br>
		 <table class="table  table-striped table-hover " >
		 <tr ><td class="text-center"><h3>Poem</h3></td></tr>
		 <tr><td><h5>Chapter 1 - The Frog and the Nightingale</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Mirror</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Not Marble, nor the Gilded Monuments</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - Ozymandias</h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - The Rime of the Ancient Mariner</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Snake</h5></td>
         </tr>
		
		 
        </table>   
  </section>
 {% endblock %}