{% extends "layout.html" %}

{% block body %}
<style>

	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
</style>


<div style="height:500px;width:100%;background-color:#d8ebe4;padding-top:80px;">
	<div class="card w-75 mx-auto">
	  	<div class="card-body" >
		    <h1 class="card-title">Scan the QR code to download pdf to your smartphone</h1><br>
			<div>
				<center>
					<img src="{{url_for ('static', filename='QR/Class2qr.png')}}" height="27%" width="27%">
				</center>
			</div>
			<br>
			<h1 class="text-center">Download directly</h3>  
			<center>
				<a href="https://drive.google.com/drive/folders/132CAu0dG2ntoaU9g9VR5cr4EztZv2qfj?usp=sharing" class="btn btn-primary"> &nbsp;&nbsp;Link to Drive&nbsp;&nbsp; </a>
			</center>
	  </div>
	</div>
</div>
{% endblock %}
