{% extends "layout.html" %}

{% block body %}

	<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 10 Science</h2>
			  
		   </div>
	   </div>
	   
       <table class="table  table-striped table-hover">
         <tr><td><h5>Chapter 1 - Chemical Reactions and Equations</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Acids,Bases and Salts</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Metals and Non-metals</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - Carbon and its Compounds</h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Periodic Classification of Elements</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Life Processes</h5></td>
         </tr>

		 <tr><td><h5>Chapter 7 - Control and Coordination</h5></td>
         </tr>
		 <tr><td><h5>Chapter 8 - How do Organisms Reproduce?</h5></td>
         </tr>
		 <tr><td><h5>Chapter 9 - Heredity and Evolution</h5></td>
         </tr>
		 <tr><td><h5>Chapter 10 - Light – Reflection and Refraction</h5></td>
         </tr>
		 <tr><td><h5>Chapter 11 - The Human Eye and the Colourful World</h5></td>
         </tr>
         <tr><td><h5>Chapter 12 - Electricity</h5></td>
         </tr>
		 <tr><td><h5>Chapter 13 - Magnetic Effects of Electric Current</h5></td>
         </tr>
		 <tr><td><h5>Chapter 14 - Sources of Energy</h5></td>
         </tr>
		 <tr><td><h5>Chapter 15 - Our Environment</h5></td>
         </tr>
		 <tr><td><h5>Chapter 16 - Sustainable Management of Natural Resources</h5></td>
         </tr>
        </table>   
  </section>
 {% endblock %}