{% extends "layout.html" %}

{% block body %}

   
	<style>
	img{
	  border-radius:10px; 
	}
	.p{
	font-weight:lighter;
	color:gray;
	}
	.p1{
	font-weight:lighter;
	color:gray;
	padding-bottom:30px;
	font-size:21px;
	}
	
	.a{
	padding-bottom:42px;
	
	}
	
	
	</style>
  
  
 <section class="team"> 
    <div class="container py-5 "><!py is padding top and bottom> 
	   <div class="row text-center">
	       <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12 a">  <!mx-auto means left and right margin is automatic>
		      <h2>Chapter wise Important Questions for CBSE Class 10 Social Science</h2>
			  
		   </div>
	   </div>
	   <table class="table  table-striped table-hover " >
		 <tr ><td class="text-center"><h3>History</h3></td></tr>
		 <tr><td><h5>Chapter 1 - The Rise of Nationalism in Europe</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Nationalism in India</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - The Making of a Global World</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - The Age of Industrialization</h5></td>
         </tr>
		
        </table>
		<br><br>
		
        <table class="table  table-striped table-hover " >
		 <tr ><td class="text-center"><h3>Geography</h3></td></tr>
		 <tr><td><h5>Chapter 1 - Resources and Development</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Water Resources</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Agriculture</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 - Minerals</h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Manufacturing Industries</h5></td>
         </tr>
		 <tr><td><h5>Chapter 6 - Life Lines of National Economy</h5></td>
         </tr>
		
        </table>
	   <br><br>
       <table class="table  table-striped table-hover">
	   <tr><td class="text-center"><h3>Civics</h3></td></tr>
         <tr><td><h5>Chapter 1 - Power Sharing</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Federalism</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Political Parties</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 -  Outcomes of Democracy </h5></td>
         </tr>
		 <tr><td><h5>Chapter 5 - Development</h5></td>
         </tr>
		
		 </table>
		 <br><br>
		 
		   <table class="table  table-striped table-hover">
	   <tr><td class="text-center"><h3>Economics</h3></td></tr>
	     <tr><td><h5>Chapter 1 - Development</h5></td>
         </tr>
		 <tr><td><h5>Chapter 2 - Sectors of the Indian Economy</h5></td>
         </tr>
		 <tr><td><h5>Chapter 3 - Money and Credit</h5></td>
         </tr>
		 <tr><td><h5>Chapter 4 -  Globalisation and the Indian Economy </h5></td>
         </tr>
		
		
		 
		 </table>
		 <br><br>
		 		
  </section>
 {% endblock %}